<div class="user-details">
  <h1> Publications </h1>
</div>

<div class="row">
  <div class="col">
    <ol>
      {% for paper in site.data.publications %}
        <li>
          <strong>
            {{paper.title}} <br>
          </strong>
          {{paper.authors}} <br>
          {{paper.venue}}, {{paper.year}} <br>
          {% if paper.link %}
            [<a href="{{paper.link}}">paper</a>]
          {% endif %}
          {% if paper.bib %}
            [<a href={{paper.bib}}">bib</a>]
          {% endif %}
          {% if paper.slides %}
            [<a href={{paper.slides}}">slides</a>]
          {% endif %}
          {% if paper.code %}
            [<a href="{{paper.code}}">code</a>]
          {% endif %}
          {% if forloop.last == false %}
            <br>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </div>
</div>
