<div class="user-details">
  <h1> Publications </h1>
</div>

<div class="row">
  <div class="col">
    <div style="float:right">(*: equal contribution)</div>
    <ol>
      {% for paper in site.data.publications %}
        <li>
          <strong>
            {{paper.title}} <br>
          </strong>
          {{paper.authors}} {{paper.venue}}<br>
          {% if paper.link %}
            [<a href="{{paper.link}}" target="_blank">paper</a>]
          {% endif %}
          {% if paper.bib %}
            [<a href="{{paper.bib}}" target="_blank">bib</a>]
          {% endif %}
          {% if paper.slides %}
            [<a href="{{paper.slides}}" target="_blank">slides</a>]
          {% endif %}
          {% if paper.code %}
            [<a href="{{paper.code}}" target="_blank">code</a>]
          {% endif %}
          {% if paper.data %}
            [<a href="{{paper.data}}" target="_blank">data</a>]
          {% endif %}
          {% if paper.sup %}
            [<a href="{{paper.sup}}" target="_blank">supplemental materials</a>]
          {% endif %}
          {% if forloop.last == false %}
            <br>
            {% if paper.link %}
              <br>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </div>
</div>
