<div id="particles-js" class="cover-card table-cell table-middle">
  <h1>
    <span class="site-title">{{site.username}}</span>
    <span class="site-description">{{site.user_title}}</span>
  </h1>
  <div class="header-icons">
    <a aria-label="Send email" target="_blank" href="mailto: {{site.email}}">
      <i class="icon fa fa-envelope"></i>
    </a>
    <a aria-label="My Google Scholar" target="_blank" href="https://scholar.google.com/citations?user={{site.google_scholar}}">
      <i class="icon fa-brands fa-google-scholar" aria-hidden="true"></i>
    </a>
    <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github}}">
      <i class="icon fa-brands fa-github" aria-hidden="true"></i>
    </a>
    <a aria-label="My Facebook" target="_blank" href="https://facebook.com/{{site.facebook}}">
      <i class="icon fa-brands fa-facebook-square" aria-hidden="true"></i>
    </a>
    <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter}}">
      <i class="icon fa-brands fa-twitter-square" aria-hidden="true"></i>
    </a>
  </div>
  <div class="header-links">
    <a class="link" href="/" data-scroll>Home</a>
    <a class="link" href="/sylee-cv.pdf" target="_blank">CV</a>
  </div>
</div>
