
          <div class="news">
            {% if site.news != blank -%}
            {%- assign news = site.news | reverse -%}
            {% if include.all %}
            {%- assign prev_year = "" -%}
            {% for item in news %}
              {%- assign item_year = item.date | date: '%Y' -%}
              {%- if item_year != prev_year %}
              {%- unless forloop.first %}
              </ol>
              {%- endunless %}
              <h2 class="bibliography">{{ item_year }}</h2>
              <ol class="bibliography">
              {%- assign prev_year = item_year -%}
              {%- endif %}
                <li>
                  <div class="row">
                    <div class="col-sm-2 abbr">
                      <span class="badge news-badge">
                        {{- item.date | date: "%b %Y" -}}
                      </span>
                    </div>
                    <div class="col-sm-8">
                      {% if item.inline -%}
                        {{ item.content | remove: '<p>' | remove: '</p>'
                           | emojify }}
                      {%- else -%}
                        <a class="news-title"
                           href="{{ item.url | relative_url }}">
                          {{- item.title -}}
                        </a>
                      {%- endif %}
                    </div>
                  </div>
                </li>
              {%- if forloop.last %}
              </ol>
              {%- endif %}
            {%- endfor %}
            {% else %}
            {%- assign news_size = site.news | size -%}
            {% if site.news_limit %}
            {% assign news_limit = site.news_limit %}
            {% else %}
            {% assign news_limit = news_size %}
            {% endif %}
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
              {% for item in news limit: news_limit %}
                <tr>
                  <th scope="row">
                    <span class="badge news-badge">
                      {{- item.date | date: "%b %Y" -}}
                    </span>
                  </th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>'
                         | emojify }}
                    {%- else -%}
                      <a class="news-title"
                         href="{{ item.url | relative_url }}">
                        {{- item.title -}}
                      </a>
                    {%- endif %}
                  </td>
                </tr>
              {%- endfor %}
              </table>
            </div>
            {% endif %}
          {%- else -%}
            <p>No news so far...</p>
          {%- endif %}
          </div>
